# Lab 2: Data Visualization

In [42]:
import pandas as pd
import seaborn as sns

## 1: Data Gathering

I will be using the Parks Volunteer Program Hours and Savings dataset. 

Retrieved from:https://data.littlerock.gov/Quality-of-Life/Parks-Volunteer-Program-Hours-and-Savings/5yzr-wmzh

An 'Open data portal' for the city of little rock. 

This dataset contains columns for:


Program Name - Object

Volunteer Count - int64

Volunteer Hours - Object	

Departmental Savings - Object

Date - Object

In [43]:
lil = pd.read_csv(r"C:\Users\Kaden's Laptop\Documents\GitHub\KadenFranklin.github.io\csci285\lab 2\Parks_Volunteer_Program_Hours_and_Savings.csv")
print(lil.head)

<bound method NDFrame.head of                                   Program Name  Volunteer Count  \
0     Active & Aging - Dunbar Community Center                4
1    Active & Aging - East LR Community Center               10
2         Active & Aging - SW Community Center               29
3                  Adopt-A-Flowerbed - Allsopp                1
4                   Adopt-A-Flowerbed - Butler                1
..                                         ...              ...
741                  Stephens Community Center               15
742              The Centre at University Park                1
743                     Therapeutic Recreation                1
744                      Volunteer Park Ranger               18
745              West Central Community Center                0

    Volunteer Hours Departmental Savings        Date
0                 0                    0  09/30/2020
1                 0                    0  09/30/2020
2                 0                    0  09/30/2020
3                 8               163.92  09/30/2020
4                 0                    0  09/30/2020
..              ...                  ...         ...
741               0                    0  02/28/2021
742               0                    0  02/28/2021
743               0                    0  02/28/2021
744          164.25           3,542.8725  02/28/2021
745               0                    0  02/28/2021

[746 rows x 5 columns]>

## 2: Analysis

We can also infer some more about our dataset w/ use of the .nunique command:

In [44]:
lil.nunique()

Program Name             67
Volunteer Count          28
Volunteer Hours         138
Departmental Savings    146
Date                     13
dtype: int64

Our dataset is a little rough around the edges, It does not even appear on one line on my machine, the following code block will clean it up a bit.

Specifically I will rename the corresponding columns; 

(Program Name, Program) 

(Volunteer Count, Volunteer #) 

(Volunteer Hours, Volunteer hrs)

(Departmental Savings, Dep. Sav.)

In [45]:
lil.rename(columns={"Program Name": "program", "Volunteer Count": "Volunteer #", "Volunteer Hours": "Volunteer hrs", "Deparmental Savings": "Dep. Sav."})
lil.columns = [x.lower() for x in lil.columns]

In [46]:
lil.head()

,program name,volunteer count,volunteer hours,departmental savings,date
0,Active & Aging - Dunbar Community Center,4,0,0,09/30/2020
1,Active & Aging - East LR Community Center,10,0,0,09/30/2020
2,Active & Aging - SW Community Center,29,0,0,09/30/2020
3,Adopt-A-Flowerbed - Allsopp,1,8,163.92,09/30/2020
4,Adopt-A-Flowerbed - Butler,1,0,0,09/30/2020

Much Better!

Now we shall check if our dataset contains any duplicate rows.

In [47]:
lil.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
741     True
742     True
743     True
744     True
745     True
Length: 746, dtype: bool

Oh boy thats quite a few, lets clean them up.

In [48]:
lil_list = []
i = -1
for x in lil.duplicated():
    i += 1
    if x == True:
        lil_list.append(i)
        
lil = lil.drop(labels = lil_list, axis = 0 )

In [49]:
lil.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
681    False
682    False
683    False
684    False
685    False
Length: 686, dtype: bool

While were at it, we should remove all of the comments in the dataset aswell.

In [50]:
lil = lil.replace(',','', regex=True, inplace=True)

## 3: Visualization

In [61]:
# See https://seaborn.pydata.org/tutorial/regression.html for a deeper treatment on linear regressions with seaborn

sns.replot(data=lil, x='departmental savings', y='volunteer hours');

sns.replot(data=lil, x='departmental savings', y='volunteer count');

#scatter = sns.lmplot(
#    data=lil,
#    x='departmental savings', 
#    x_jitter=.4,
#    y='volunteer hours', 
#    hue=' ',
#    height=8,
#    aspect=1.5, 
#).set(
#    title="Departmental savings vs. Volunteer Hours",
#)

AttributeError: module 'seaborn' has no attribute 'replot'

## 4: Conclusions