# Lab 2: Data Visualization

In [14]:
import pandas as pd
import seaborn as sns

## 1: Data Gathering

I will be using the Parks Volunteer Program Hours and Savings dataset. 

Retrieved from:https://data.littlerock.gov/Quality-of-Life/Parks-Volunteer-Program-Hours-and-Savings/5yzr-wmzh

An 'Open data portal' for the city of little rock. 

This dataset contains columns for:


Program Name - Object

Volunteer Count - int64

Volunteer Hours - Object	

Departmental Savings - Object

Date - Object

In [15]:
lil = pd.read_csv(r"C:\Users\Kaden's Laptop\Documents\GitHub\KadenFranklin.github.io\csci285\lab 2\Parks_Volunteer_Program_Hours_and_Savings.csv")
print(lil.head)

<bound method NDFrame.head of                                   Program Name  Volunteer Count  \
0     Active & Aging - Dunbar Community Center                4
1    Active & Aging - East LR Community Center               10
2         Active & Aging - SW Community Center               29
3                  Adopt-A-Flowerbed - Allsopp                1
4                   Adopt-A-Flowerbed - Butler                1
..                                         ...              ...
741                  Stephens Community Center               15
742              The Centre at University Park                1
743                     Therapeutic Recreation                1
744                      Volunteer Park Ranger               18
745              West Central Community Center                0

    Volunteer Hours Departmental Savings        Date
0                 0                    0  09/30/2020
1                 0                    0  09/30/2020
2                 0                    0  09/30/2020
3                 8               163.92  09/30/2020
4                 0                    0  09/30/2020
..              ...                  ...         ...
741               0                    0  02/28/2021
742               0                    0  02/28/2021
743               0                    0  02/28/2021
744          164.25           3,542.8725  02/28/2021
745               0                    0  02/28/2021

[746 rows x 5 columns]>

## 2: Analysis

We can also infer some more about our dataset w/ use of the .nunique command:

In [16]:
lil.nunique()

Program Name             67
Volunteer Count          28
Volunteer Hours         138
Departmental Savings    146
Date                     13
dtype: int64

Our dataset is a little rough around the edges, It does not even appear on one line on my machine, the following code block will clean it up a bit.

Specifically I will rename the corresponding columns; 

(Program Name, Program) 

(Volunteer Count, Volunteer #) 

(Volunteer Hours, Volunteer hrs)

(Departmental Savings, Dep. Sav.)

In [18]:
lil.rename(columns={"Program Name": "program", "Volunteer Count": "Volunteer #", "Volunteer Hours": "Volunteer hrs", "Deparmental Savings": "Dep. Sav."})
lil.columns = [x.lower() for x in lil.columns]

In [19]:
lil.head()

,program name,volunteer count,volunteer hours,departmental savings,date
0,Active & Aging - Dunbar Community Center,4,0,0,09/30/2020
1,Active & Aging - East LR Community Center,10,0,0,09/30/2020
2,Active & Aging - SW Community Center,29,0,0,09/30/2020
3,Adopt-A-Flowerbed - Allsopp,1,8,163.92,09/30/2020
4,Adopt-A-Flowerbed - Butler,1,0,0,09/30/2020

Much Better!

Now we shall check if our dataset contains any duplicate rows.

In [20]:
i = -1
for x in lil.duplicated():
    i += 1
    if x == True:
        print(x)
        print(i)

True
686
True
687
True
688
True
689
True
690
True
691
True
692
True
693
True
694
True
695
True
696
True
697
True
698
True
699
True
700
True
701
True
702
True
703
True
704
True
705
True
706
True
707
True
708
True
709
True
710
True
711
True
712
True
713
True
714
True
715
True
716
True
717
True
718
True
719
True
720
True
721
True
722
True
723
True
724
True
725
True
726
True
727
True
728
True
729
True
730
True
731
True
732
True
733
True
734
True
735
True
736
True
737
True
738
True
739
True
740
True
741
True
742
True
743
True
744
True
745

## 3: Visualization

## 4: Conclusions